# babyai
blosc
git+https://github.com/flowersteam/Grounding_LLMs_with_online_RL.git#egg=babyai&subdirectory=babyai-text/babyai
git+https://github.com/flowersteam/Grounding_LLMs_with_online_RL.git#egg=gym-minigrid&subdirectory=babyai-text/gym-minigrid
git+https://github.com/flowersteam/Grounding_LLMs_with_online_RL.git#egg=babyai-text&subdirectory=babyai-text