# install babyai_text by cloning https://github.com/flowersteam/Grounding_LLMs_with_online_RL
# and follow the instructions in the README of the babyai-text folder
ipykernel
ipython
ipywidgets
tqdm
rich
torch
transformers
trl==0.11.4
peft
numpy==1.23.1 # this specific version is required for babyai-text
wandb